workflow-01-hello.json
{
  "name": "01 - Hello n8n",
  "nodes": [
    {
      "parameters": {},
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2222222-2222-4222-8222-222222222222",
              "name": "message",
              "value": "Bonjour n8n !",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Edit Fields - message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4444444-4444-4444-8444-444444444444",
              "name": "message_final",
              "value": "=Le robot dit : {{ $json.message }} 🤖",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e5555555-5555-4555-8555-555555555555",
      "name": "Edit Fields - message_final",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Edit Fields - message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - message": {
      "main": [
        [
          {
            "node": "Edit Fields - message_final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
