workflow-04-api-vers-fichier.json
{
  "name": "04 - API vers fichier CSV",
  "nodes": [
    {
      "parameters": {},
      "id": "a1111111-1111-4111-8111-0a0a0a0a0a0a",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users",
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-0b0b0b0b0b0b",
      "name": "HTTP Request - users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3333333-3333-4333-8333-0c0c0c0c0c0c",
              "name": "nom",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "d4444444-4444-4444-8444-0d0d0d0d0d0d",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "e5555555-5555-4555-8555-0e0e0e0e0e0e",
              "name": "ville",
              "value": "={{ $json.address.city }}",
              "type": "string"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "f6666666-6666-4666-8666-0f0f0f0f0f0f",
      "name": "Edit Fields - garder 3 colonnes",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {}
      },
      "id": "a7777777-7777-4777-8777-070707070707",
      "name": "Convert to File (CSV)",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/utilisateurs.csv",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "b8888888-8888-4888-8888-080808080808",
      "name": "Read/Write Files",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request - users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - users": {
      "main": [
        [
          {
            "node": "Edit Fields - garder 3 colonnes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - garder 3 colonnes": {
      "main": [
        [
          {
            "node": "Convert to File (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File (CSV)": {
      "main": [
        [
          {
            "node": "Read/Write Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
