workflow-02-citation.json
{
  "name": "02 - Citation du jour",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1111111-1111-4111-8111-aaaaaaaaaaaa",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.quotable.io/random",
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-bbbbbbbbbbbb",
      "name": "HTTP Request - citation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c3333333-3333-4333-8333-cccccccccccc",
              "name": "citation",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "d4444444-4444-4444-8444-dddddddddddd",
              "name": "auteur",
              "value": "={{ $json.author }}",
              "type": "string"
            },
            {
              "id": "e5555555-5555-4555-8555-eeeeeeeeeeee",
              "name": "message",
              "value": "={{ $json.content }} — {{ $json.author }}",
              "type": "string"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "f6666666-6666-4666-8666-ffffffffffff",
      "name": "Edit Fields - garder l'utile",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request - citation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - citation": {
      "main": [
        [
          {
            "node": "Edit Fields - garder l'utile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
