fichiers/workflow-03-webhook.json
{
  "name": "03 - Webhook bienvenue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "bienvenue",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1111111-1111-4111-8111-a1a1a1a1a1a1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "bienvenue-webhook-id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2222222-2222-4222-8222-b2b2b2b2b2b2",
              "name": "message",
              "value": "=Bienvenue {{ $json.query.prenom || \"visiteur\" }} ! 🎉",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3333333-3333-4333-8333-c3c3c3c3c3c3",
      "name": "Edit Fields - message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"reponse\": $json.message } }}",
        "options": {}
      },
      "id": "d4444444-4444-4444-8444-d4d4d4d4d4d4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields - message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {}
}
